html,
body {
  width: auto;
  height: auto;
  position: relative;
  margin: 10px;
  padding: 0;
  background-color: dimgray;
  overflow: hidden;
  font-family: sans-serif;
}

header {
  margin: 0 20px 20px 20px;
}

/* 以下header上部 */
#header-upper {
  display: flex;
  min-width: 100px;
  justify-content: space-between;
  width: auto;
  margin: 25px 0 25px 0;
}

#header-title {
  margin: 0 auto;
  padding-left: 35px;
  font-size: 26px;
  font-family: "Times New Roman", Times, serif;
}

#button-bgm {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  font-size: large;
}

/* マーメイド絵文字を反転 */
#mermaid {
  display: inline-block;
  transform: scaleX(-1);
}

/* 以下header下部 */
#header-bottom {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 2px 0 0 2px;
  background-color: dimgray;
}

#rsp-layout {
  left: 10px;
  width: 400px;
  margin-left: 5px;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans",
    "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
    "MS Pゴシック", "MS PGothic";
  font-size: 18px;
}

#click-btn button {
  width: 75px;
  height: 25px;
  margin: 5px 0 5px 0;
  font-size: 13px;
}

.communication {
  margin-right: 20px;
  width: 250px;
}

.communication .word {
  color: #ffffffdc;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans",
    "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
    "MS Pゴシック", "MS PGothic";
}

/* 人魚絵文字をイラストとして用いるため拡大 */
.inhabitant {
  font-size: 84px;
}

/* カウントダウンタイマー */
.timekeeper {
  max-width: 150px;
  margin: 5px 0 0 2px;
  padding: 5px;
  background-color: lightblue;
  border-radius: 7px;
}

/* 以下main */
main {
  display: block;
  height: auto;
  width: auto;
  background-color: dimgray;
}

/* 水槽全体 */
main #water-tank {
  position: relative;
  border: solid 3px dimgray;
  overflow: hidden;
}

/* 水のゆらめき */
/* 円形のゆらめきが交互する */
main #water-tank::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    transparent 70%
  );
  animation: wave 10s infinite ease-in-out alternate;
}

/* 水面 */
main #above-water {
  height: 3.5px;
  width: auto;
  filter: blur(0.4px);
  background-color: rgb(6, 77, 106);
}

/* 水槽中央の石 */
main #center-rock {
  position: absolute;
  bottom: 135px;
  left: 50%;
  transform: translateY(20%);
  width: 85px;
  height: 60px;
  background: radial-gradient(ellipse at top, #888 30%, #444 90%);
  border-radius: 20% 80% 50% 30% / 50% 60% 20% 10%;
  box-shadow: inset 0 66px 99px 2px rgba(0, 0, 0, 0.3),
    0 5px 15px rgba(0, 0, 0, 0.4);
}

/* 水槽中央の石 */
main #center-rock::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 40px;
  background: radial-gradient(ellipse at top, #888 30%, #444 90%);
  border-radius: 50% 40% 30% 80%/ 50% 45% 10% 60%;
  box-shadow: inset 0 30px 9px 22px rgba(0, 0, 0, 0.3),
    0 25px 30px rgba(0, 0, 0, 0.4);
  top: -10px;
  left: 20px;
}

/* 水中 */
main #water {
  height: 250px;
  width: auto;
  opacity: 65%;
  background: linear-gradient(to bottom, #012a3e, #001a33);
}

/* 水槽底面の土 */
main #ground {
  height: 40px;
  width: auto;
  background: radial-gradient(
    ellipse at top left,
    #bc8f8f 20%,
    hsla(0, 25%, 65%, 0.459) 90%
  );
}

/* じゃんけんに勝ち、「水草の素」を獲得したときの反応 */
.getItem {
  position: absolute;
  /* 「水草の素」の大きさは40*40
  イベント発生時の */
  width: 40px;
  height: 40px;
  background: rgba(0, 150, 255, 0.5);
  border-radius: 50%;
  cursor: grab;
  /* 「水草の素」に対するクリック反応を無効にする */
  /* 「.on-main」クリック判定を阻害しないようにする */
  pointer-events: none;
  animation: pulse 0.6s infinite alternate;
}

.getItem:active {
  cursor: grabbing;
}

/* 「水草の素」を使用したときの反応 */
.useItem {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: blur(0.4px);
  font-size: 36px;
  animation: pulse 0.6s infinite alternate;
}

/* 以下footer */
footer {
  margin: 20px 20px 0 20px;
  background-color: dimgray;
}

footer p {
  margin: 2px 0;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans",
    "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
    "MS Pゴシック", "MS PGothic";
  font-size: 15px;
}

/* 以下アニメーション要素 */

/* じゃんけんに勝ち、「水草の素」を獲得したときのアニメーション反応 */
/* .getItem */
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

/* 水が揺れているときのアニメーション */
/* main #water-tank::after */
@keyframes wave {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(10);
  }
}
